<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-11-04T23:21:16Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kevinlee/Desktop/eecs441/eLect/michiganseniors/frontend/searchForElections/eLect2.xcodeproj</string>
</dict>
</plist>
